body {
    background: blue;
}
p {
    color: blanchedalmond;
    margin-left: 5%;
}

b {
    color: blanchedalmond;
}

.resu{
    color: blanchedalmond;
    margin-left: 0%;
}

.button {
    margin-top: 5%;
    margin-left: 47%;
}

.gas {
    margin-left: 42%;
}
.chicos {
    margin-left: 42%;
}
.luz {
    margin-left: 42%;
}
.alq {
    margin-left: 42%;
}
.tele {
    margin-left: 42%;
}
.abo {
    margin-left: 42%;
}
.total {
    margin-left: 43%;
}
.resu {
    margin-left: 43%;
}