body {
    background: rgb(252, 249, 249);
}

h1 {
    color: blanchedalmond;
    background: black;
    text-align: center; 
    margin-bottom: 8%;
    margin-top: 5%;
    border-bottom-style: double;
    border-top-style: double;
    border-inline-end-style: double;
    border-inline-start-style: double;
}


p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 2, 0);
}


.ejer {
    text-align: center;
}

span {
    font-family: fantasy;
}

aside {
    float: left;
    height: 700px;
    width: 15%;
    border-top-style: groove;
    border-bottom-style: groove;
    background: rgb(8, 8, 0);
    border-inline-end-style: groove;
    border-inline-start-style: groove;
}

h2 {
    text-align: center;
    margin-top: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-top-style: groove;
    border-bottom-style: groove;
    border-inline-start-style: groove;
    border-inline-end-style: groove;
    background: black;
    color: white;
}


img {
    margin-left: 4%;
    margin-top: 12%;
    width: 89%;
    border-inline-end-style: double;
    border-inline-start-style: double;
    border-bottom-style: double;
    border-top-style: double;
}

.ejer {
    margin-right: 67%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(2, 2, 0);
}

.num1 {
    margin-left: 50%;
}

.num2 {
    margin-left: 50%;
}

.suma {
    margin-left: 55%;
}

.resul {
    margin-left: 56%;
}